.section-player {
  position: relative;
  background-color: #F8FAF9;

  &::before {
    content: url(../pictures/bg/elemredpl.svg);
    position: absolute;
    bottom: -32px;
    right: 15%;
    z-index: 10;
  }
}

.player {
  position: relative;
  max-width: 660px;
  margin: 0 auto;

  &__wrapper {
    height: rem(390px);
  }

  &__controls {
  background: #151515;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  column-gap: 25px;
  width: 100%;
  }

  &__start {
    background: url(../pictures/icons/elementplay.svg);
    width: 11px;
    height: 16px;
  }

  &__playback {
    position: relative;
    background: #333333;    ;
    width: rem(442px);
    height: 4px;

    &-button {
      position: absolute;
      background: #E01F3D;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      top: -100%;
      left: 0%;
    }
  }

  &__sound {
    background: url(../pictures/icons/elemsound.svg);
    width: 13px;
    height: 16px;
  }

  &__volume {
    position: relative;
    background: #333333;    ;
    width: rem(60px);
    height: 4px;

    &-button {
      position: absolute;
      background: #E01F3D;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      top: -100%;
      left: 0%;
    }
  }
}

.paused .player__start {
  background: url(../pictures/icons/pause-svgrepo-com.svg);
}

.player__splash {
  display: block;
  content: url(../pictures/content/splashscreen.png);

  // &::before {
  //   content: url(../pictures/icons/elementplay.png);
  // }
}

.player__elem {
  display: none;
}

.active .player__elem {
  display: block;
}

.active .player__splash {
  display: none;
}