.button {
  font-weight: bold;
  padding: rem(18px) rem(41px);
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  display: inline-block;
  border: none;
  color: #fff;

  &--red {
    background: #E01F3D;
  }

  &--transparent {
    background: transparent;
    text-transform: none;

    &:hover {
      color: #E01F3D;
      transition: 0.5s;
    }
  }
}

