.contacts__phone {
  text-decoration: none;
  display: flex;
  align-items: center;

  &__icon--elem {
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }
}

.contacts-phone__text {
  white-space: nowrap;
}

.contacts-phone__icon--elem {
  flex-shrink: 0;
}