.section-player {
  position: relative;
  background-color: #F8FAF9;
  display: none;

  &::before {
    content: url(../pictures/bg/elemredpl.svg);
    position: absolute;
    bottom: -32px;
    right: 15%;
    z-index: 10;
  }

  &__container {
    text-align: center;
  }
}