.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: rem(48px);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
  }
}